{% extends 'layout.html' %}

{% block title %}
  About this website
{% endblock %}

{% block content %}
  <div class="w-full max-w-[1100px] mx-auto py-3 mt-7">
    <h1 class="text-5xl font-bold font-sans">About Us</h1>
    <p class="py-3 font-serif font-thin tracking-widest">Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam sed quas ad nisi totam illum vero consequuntur fugiat minus eos dolorem minima laudantium architecto, dolor quos inventore sint expedita?</p>
    <p class="py-3 font-serif font-thin tracking-widest">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, cumque! Inventore eos labore consequuntur explicabo vel magni, molestiae veniam eius?</p>
  </div>
{% endblock %}
