{% extends 'layout.html' %}

{% block title %}
  The very nice Home Page
{% endblock %}

{% block content %}
  <div class="w-full max-w-[1100px] mx-auto py-3 mt-7">
    <h1 class="text-6xl font-serif text-left">Here is the heading</h1>
    <p class="text-lg py-5 tracking-widest font-mono">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, expedita cupiditate? Nulla enim neque, recusandae ullam doloribus perspiciatis quam numquam, cupiditate minima quidem eaque excepturi, sequi molestias non magnam. Natus!</p>
  </div>
{% endblock %}
